{% extends "layout.html" %}

{% block body %}
<div class="container">
    <section class="section">
        <p class="title">Add a new venue</p>
        <form method="POST" action="{{ url_for('venues_create') }}">
            <div class="field">
                <label class="label">{{ form.name.label}}</label>
                <div class="control">
                    <!--<input class="input" type="text" name="name" placeholder="e.g. Gurula" />-->
                    {{ form.name }}
                </div>
                <ul>
                    {% for error in form.name.errors %}
                    <li class="help">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="field">
                <label class="label">{{ form.name.location}}</label>
                <div class="control">
                    <!--<input class="input" type="text" name="location" placeholder="e.g. Exactum, Helsinki" />-->
                    {{ form.location }}
                </div>
                <ul>
                    {% for error in form.location.errors %}
                    <li class="help">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add" />
                </div>
                <div class="control">
                    <a class="button is-light" href="/venues/">Go back</a>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}